/* Fonts  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
@font-face {
    font-family: 'Aribau Grotesk Regular';
    src: url("../fonts/AribauGroteskRegular.ttf");
}
@font-face {
    font-family: 'Aribau Grotesk UltraLight';
    src: url("../fonts/AribauGroteskUltraLight.ttf");
}


/* Basic Styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.basic-color{
    color: #C8102E;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    margin: 20px 0px 10px 0px;
}

a {
    text-decoration: none;
    margin: 0px;
}

p {
    font-size: 18px;
    font-family: 'Aribau Grotesk Regular';
    /* font-family: 'Aribau Grotesk UltraLight' */
    /* padding-bottom: 10px; */
}

.big {
    font-size: 25px;
    /* margin:20px 0px 10px 0px; */
}

.mt-30 {
    margin-top: 30px;
}

.mt-10{
    margin-top: 10px;
}
.a-post-size{
    font-size: 18px;
    font-family: 'Aribau Grotesk Regular';

}
.size-20{
    font-size: 20px;
}
.mt-50{
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}
.center{
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    
}

h3 {
    color: #dc3a38;
    font-size: 35px;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-se rif; */
}

h4 {
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
.container{
    width: 85%;
    margin: 0 auto;
}

/* Header Styles */
header{
    display:flex;
    background-color: #fff;
    /* justify-content: space-around; */
    align-items: center;
}
header .nav, header div{
    width: 40%;
}
.logo{
    width: 20%;
}
/* .search-bar{
    margin-left: auto;
} */
/*| Navigation |*/
.nav{
    display: flex;
    margin-right: auto;
}
.nav ul {
    list-style: none;
    /* position: relative; */
    /* float: right; */
}

.nav ul li {
    /* float: left; */
    display: inline-block;
    transition: all 0.2s ease-in-out;
    padding: 2px;
}
ul.submenu li{
    display: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* .nav ul li:hover {
    background: rgba(0, 0, 0, 0.15);
    
}

.nav ul li:hover>ul {
    display: block;

}
.nav ul li:hover>ul li {
    display: block;   
    padding: 10px;

} */

/* .nav ul li {
    float: left;
    transition: all 0.2s ease-in-out;
} */

.nav ul li a {
    display: block;
    padding: 0px 5px;
    color: #222;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

/* .nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
} */

.nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}



.logo img{
    /* height: 120px; */
    width: 100%;
    height: auto;
}

/* SEARCH FIELD */
.search-bar {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    margin-left: auto;
    justify-self: flex-end;
    text-align: right;
}

/* .search-bar form {
    position: relative;
} */

.search-bar input[type="text"] {
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: 0px;
    /* border: 2px; */
    border: 1px solid black;
    color: #fff;
    font-size: 14px;
}

.search-bar button {
    background-color:#0A2953;
    color: #fff;
    border: 0;
    /* position: absolute; */
    left: 0;
    top: 0;
    /* height: 100%; */
    /* width: 30px; */
    line-height: 30px;
    cursor: pointer;
}


::placeholder {
    color: #ccc;
    font-size: 14px;
}





/* Article Section Styles */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details,
.post-item {
    width: 22%;
}

.divider {
    width: 40%;
    background-color: black;
    height: 2px;
}

.article-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.article-date {
    color: #dc3a38;
    margin: 20px 0px 10px 0px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
}

.btn-red {
    background-color: #dc3a38;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

/* Categories Section Styles */
.cat-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-item {
    width: 22%;
}

.cat-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* Testimonies Section Styles */
.testimonies {
    width: 100%;
}

.testi-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.testi-item {
    width: 25%;
    position: relative;
}

.testi-content {
    background-color: brown;
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0px;
}

.testimonies .testi-content h4,
.testi-content p {
    padding: 0px 25px;
}

.post-details {
    margin-bottom: 20px;
}

.testi-img {
    width: 100%;
    height: auto;
}
/* Testimonies page styles */
.testimonies-content{
    display: flex;
    justify-content: space-between;
}
.testimonies-posts{
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: black; */
}

.sidebar{
    width: 23%;
    height: 500px;
    background-color: #C8102E;
}
.testimonies-posts .item{
    width: 30%;
}
.testimonies-posts .item img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.pagination{
    width: 100%;
    
}
.pagination ul{
    display: flex;
    color: #C8102E;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    flex-wrap: nowrap;
}
.pagination ul li {
    padding-right: 15px;
}
.pagination ul li a{
    color: #C8102E;
}
/* Responsiveness Code  */
@media screen and (max-width: 1024px) {

    .details,
    .post-item {
        width: 45%;
    }

    .article-img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .testimonies-posts .item{
        width: 45%;
        /* margin-bottom: 50px; */
    }
}
