/* Fonts  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
@font-face {
    font-family: 'Aribau Grotesk Regular';
    src: url("../fonts/AribauGroteskRegular.ttf");
  }
  @font-face {
    font-family: 'Aribau Grotesk Medium Italic';
    src: url("../fonts/Aribau Grotesk Medium Italic.ttf");
  }
  @font-face {
    font-family: 'Aribau Grotesk Light';
    src: url("../fonts/Aribau-Grotesk-Regular-Light.ttf");
  }
  @font-face {
    font-family: 'Aribau Grotesk Medium';
    src: url("../fonts/Aribau Grotesk Medium.ttf");
  }
  @font-face {
    font-family: 'Aribau Grotesk Ultra Light Italic';
    src: url("../fonts/Aribau Grotesk UltraLight Italic.ttf");
  }
  
/* Basic Styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.basic-color{
    color: #C8102E;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    margin:20px 0px 10px 0px;
}
a{
    text-decoration: none;
    margin: 0px;
}
.blockquote{
    width: 80%;
    margin: 0 auto;
    display: block;
    font-family: 'Aribau Grotesk Medium Italic';
    font-size: 20px;
    border-left: 5px solid #C8102E;
    padding: 20px 20px 20px 30px;
}
p{
    font-size: 18px;
    font-family: 'Aribau Grotesk Regular';
    /* padding-bottom: 10px; */
}
.big{
    font-size: 25px;
    /* margin:20px 0px 10px 0px; */
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.a-post-size{
    font-size: 18px;
    font-family: 'Aribau Grotesk Regular';

}
.size-20{
    font-size: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-50{
    margin-bottom: 50px;
}
.center{
    text-align: center;
}
h2{
    font-size: 50px;
    font-weight: bold;
    
}
h3{
    color: #dc3a38;
    font-size: 35px;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-se rif; */
}
h4{
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
.container{
    width: 85%;
    margin: 0 auto;
}















header{
    display:flex;
    background-color: #fff;
    /* justify-content: space-around; */
    align-items: center;
}
header nav, header>div{
    width: 40%;
}
.logo{
    width: 20%;
}
/* .search-bar{
    margin-left: auto;
} */
.logo img{
    /* height: 120px; */
    width: 100%;
    height: auto;
}

/* SEARCH FIELD */
.search-bar {
    border: 2px solid #fff;
    display: flex;
    margin-right:auto ;
    justify-items: flex-end;
    justify-content: flex-end;
}
.field-group{
    border: 1px solid #000;
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
}
.search-bar input[type="text"] {
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    outline: 0px;
    border: 0px;
    color: #fff;
    font-size: 14px;
}

.search-bar button {
    background-color:#C8102E;
    color: #fff;
    border: 0;
    left: 0;
    top: 0;
    height: 100%;
    padding: 8px 15px;
    cursor: pointer;
    /* font-size: 16px; */
}

::placeholder {
    color: #ccc;
    font-size: 14px;
}

/*|||---  Navigation ----|||*/
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li ul {
    border-bottom: 5px solid #C8102E;
    display: none;
    position: absolute;
    width: 180px;
}

nav ul li ul li {
    border-top: 1px solid #ccc;
    display: block;
}

nav ul li ul li:first-child {
    border-top: none;
}

nav ul li ul li a {
    background: #eee;
    border-bottom: 1px solid #C8102E;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover {
    background: #ccc;

}

nav .fa.fa-angle-down {
    margin-left: 6px;
}

.social-icon i{
    padding: 5px;
    background-color: #C8102E;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.breadcrumbs-sec{
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0,0,0,26%);
    border-radius: 0px 0px 30px 30px;
}
.breadcrumbs{
    background-image: url(../images/breadcrumbs.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 120px 0px;
}
.site-title{
    font-size: 50px;
}
.site-sub-title{
    font-size: 22px;
    font-family: 'Aribau Grotesk Regular';
}


/* Article Section Styles */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details,
.post-item {
    width: 22%;
}

.divider {
    width: 40%;
    background-color: black;
    height: 2px;
}

.article-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.article-date {
    color: #C8102E;
    margin: 20px 0px 10px 0px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
}

.btn-red {
    background-color: #C8102E;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

/* Categories Section Styles */
.cat-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-item {
    width: 22%;
}

.cat-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* Testimonies Section Styles */
.testimonies {
    width: 100%;
}

.testi-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


.testi-item {
    width: 25%;
    position: relative;
}

.testi-content {
    min-height: 38%;
    background-color: #C8102E;
    position: absolute;
    color: white;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonies .testi-content h4,
.testi-content p {
    padding: 0px 25px;
    display: flex;
}
.testi-content p{
    font-family: 'Aribau Grotesk UltraLight';
}
.post-details {
    margin-bottom: 20px;
}

.testi-img {
    width: 100%;
    height: auto;
}
.relationships{
    display: flex;
    justify-content: space-between;
}
.relation-item{
    height: 350px;
    width: 32%;
    position: relative;
    border-radius: 20px;
}
.relation-bg{
    border-radius: 20px;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.relation-content{
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 38%;
    color: #fff;
    background-color: #c8102fc7;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.relation-content h4, .relation-content p{
    padding: 0px 25px;
}
footer{
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 20px;
}
.footer-section{
    display: flex;
}
.footer-section>div{
    width: 32%;
    padding: 20px;
}
.footer-1 img{
    /* height: 100px; */
    width: 50%;
}

.footer-2 h3, .footer-3 h3{
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-2 ul{
    margin-left: 20px;
}
.footer-2 ul li{
    list-style: none;
    font-size: 22px;
    border-left: 5px solid #fff;
    margin: 10px 0px;
    padding: 5px 15px;
}
.footer-2 ul li a{
    text-decoration: none;
    color: #fff;
}



.copyright-bar{
    background-color: #C8102E;
    color: #fff;
    padding: 14px;
    text-align: center;
    font-size: 14px;
}
.copyright-bar p{
    font-family: 'Aribau Grotesk UltraLight';
}























/* Testimonies page styles */
.testimonies-content{
    display: flex;
    justify-content: space-between;
}
.testimonies-posts{
    width: 75%;
    /* height: 500px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: black; */
}
/* Sidebar Styles */
.sidebar{
    width: 23%;
    border: 1px solid #CCCCCC;
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
}
.sidebar-content{
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar-content img{
    width: 100%;
    border:1px solid #707070;    
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,16%);
}
.recent-post,.sidebar-categ,.last{
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,16%);
    padding:0px 20px 20px 20px;
}
.recent-post h4,.sidebar-categ h4,.last h4{
    padding-top: 20px;
}
.recent-post a{
    font-size: 20px;
    font-family: 'Aribau Grotesk Regular';
    padding-top: 10px;
    color: #C8102E;
    display: block;
}
.droppdown-categ select{
    border: 1px solid black;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.selection{
    position: relative;
}
.droppdown-categ form label {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    padding: 0px 5px;
    /* color: #14263E; */
}
#categories option{
    padding:10px;
    font-size: 14px;
    font-family: 'Aribau Grotesk Regular';
}
.testimonies-posts .item{
    width: 30%;
}
.testimonies-posts .item img{
    border-radius: 5px;
    width: 100%;
    height: auto;
}
.pagination{
    width: 100%;
    
}
.pagination ul{
    display: flex;
    color: #C8102E;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    flex-wrap: nowrap;
}
.pagination ul li {
    padding-right: 15px;
}
.pagination ul li:last-of-type{
    align-self: flex-end;
}
.pagination ul li a{
    color: #C8102E;
}

/* Post detail page styles */
.post-title{
    font-size: 40px;
}
.post-header p{
    font-size: 25px;
}
.single-post-content{
    width: 72%;
}
.single-post-content p{
    text-align: justify;
}
.single-post-content img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,16%);
}

.social-icons-post i{
    padding: 5px;
    background-color: #C8102E;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.author{
    text-align: right;
}
.author a{
    font-size: 20px;
    font-family: 'Aribau Grotesk Regular';

}
ul.post-pagination{
    display: flex;
    justify-content: space-between;
}
.post-pagination li{
    font-size: 20px;
    font-family: 'Montserrat';
    padding-right: 0px !important;
    font-weight: 500;
}
.post-pagination li i{
    padding: 0px 5px;
}
.comment p{
    font-size: 20px;
    font-family: 'Aribau Grotesk Medium';
}
.contact{
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.field-group-con {
    width: 48%;
    margin-top: 30px !important;
    text-align: left;
    position: relative;
    margin: 10px 0px;
}

.address,
.message {
    width: 100%;
}

.input-field,
input[type="email"] {
    text-align: left;
    width: 100%;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

input[type="email"] {
    margin-top: 0px;
    color: #000;
}

.input-field:focus,
input[type="email"]:focus {
    border: 1px solid #E2E2E2;
    outline: 1px solid #e2e2e2;
}

.field-group-con label {
    font-family: 'Montserrat', sans-serif !important;
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: #fff;
    padding: 0px 5px;
    font-size: 18px;
    font-weight: 500;
    color: #14263E;
}

.button {
    text-align: left;
    width: 100%;
    margin-top: 40px;
}

.contact-btn {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
    padding: 10px 20px;
    background-color: #C8102E;
    color: #fff;
    text-decoration: none;
    outline: 0;
    border: 0px;
    border-radius: 5px;
    align-self: flex-end;
}

.contact-col {
    width: 32%;
    text-align: center;
    /* overflow: auto; */
    box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    padding: 10px;
}

.contact-col i {
    font-size: 25px;
    color: #14263E;
}
.comment-form form .input-field::placeholder{
    font-size: 16px;
    font-family: 'Aribau Grotesk Ultra Light Italic';

}
/* About Page Styles */
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.creater-details,.creater-image,.mission,.mission-image{
    width: 48%;
}
.horizontal-divider{
    width: 10%;
    height: 5px;
    background-color: #C8102E;
}
.creater-image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,3px,0,16%);
}
.mission-image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,3px,0,16%);
}
/* Responsiveness Code  */
@media screen and (max-width: 1366px){
    .sidebar h4{
        font-size: 20px;
    }
    /* .input-field{
        width: 90%;
    } */
}
@media screen and (max-width: 1024px) {
    .details, .post-item{
        width: 45%;
    }
    .article-img{
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .testimonies-posts .item{
        width: 45%;
    }
    .testimonies-posts, .single-post-content{
        width: 65%;
    }
    .sidebar{
        width: 30%;
    }
    .creater-details{
        width: 63%;
    }
    .creater-image{
        width: 35%;
    }
    .mission{
        width: 59%;
        margin-top: 0px !important;
    }
    .mission-image{
        width: 39%;
        margin-top: 30px;
    }
  }
  @media screen and (max-width: 900px){
    .testimonies-posts .item{
        width: 100%;
        /* margin-bottom: 50px; */
    }
    .testimonies-posts, .single-post-content{
        width: 50%;
    }
    .sidebar{
        width: 40%;
    }
}
@media screen and (max-width: 763px){
    .testimonies-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .testimonies-posts, .single-post-content,.mission,.mission-image{
        width: 100%;
    }
    .sidebar{
        width: 100%;  
        margin-top: 50px;
    }
    .creater-details{
        width: 100%;
        text-align: center;
    }
    .horizontal-divider{
        width: 50%;
        margin: 0 auto;
    }
    .creater-image{
        width: 100%;
        margin-top: 50px;
    }
    .mission{
        text-align: center;
    }
    .mission-image{
        order: 2;
    }
}
@media screen and (max-width: 415px){
    .ctg-top-heading h2{
        font-size: 35px;
    }
    .field-group-con label{
        font-size: 12px;
    }
    .post-title{
        font-size: 30px;
    }
    .post-header p{
        font-size: 20px;
    }
    .post-pagination li{
        font-size: 14px;
        padding-right: 0px 5px;
    }
}